<html>
<header>
<link rel="stylesheet" href="bower_components/jquery-ui/themes/redmond/jquery-ui.min.css"/>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
<link rel="stylesheet" href="css/main.css"/>
</header>
<body>
<nav class="navbar navbar-inverse" id="top-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">Gender Study</div>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if (user) { %>
        <li id="welcome-text">Welcome <%= user.email() %></li>
        <li><a href="/logout" id="logout-btn">Log Out</a></li>
      <% }
      else {%>
        <li><a href="/signup" id="logout-btn">Register</a></li>
        <li><a href="/login" id="logout-btn">Log In</a></li>
      <% } %>
    </ul>

  </div>
</nav>
<div id ="wrapper">
  <div id = "left-side-bar">
    <ul class = "nav nav-tabs" role="tablist" data-tabs="tabs">
      <li role="presentation" name="side-tab" class="active">
        <a id = "side-topic-tab" href="#side-topic-panel"
        aria-controls="topic-panel" role="tab" data-toggle="tab">
        <b>Mallet Topics</b></a>
      </li>
      <li role="presentation" name="side-tab">
        <a id = "side-user-topic-tab" href="#side-user-topic-panel"
        aria-controls="user-topic-panel" role="tab" data-toggle="tab">
        <b>User Topics</b></a>
      </li>
    </ul>
    <div class = "tab-content">
      <div role="tabpanel" id="side-topic-panel">
        <div id = "data-select">
          <div id = "year-select">
            <label>Year:</label><select id = "from-year"></select>
            <!-- <label>to</label>
            <select id = "to-year"></select> -->
          </div>
        </div>
        <div>
          <button id = "btn-train-topics" class="btn btn-default">Train Model</button>
          <!-- <button id = "btn-load-papers" class="btn btn-default">Load Papers</button> -->
          <!-- <button id = "btn-load-panels" class="btn btn-default">Load Panels</button> -->
        </div>
        <div id = "topic-trainer-option-div">
          <h4>Model Training Options</h4>
          <div><label>Type:</label><select id = "select_model_type" value = "A">
            <option value = "A">academic</option>
            <option value = "RW">roundtable/workshop</option>
          </select></div>
          <div><label>P/PN:</label><select id = "select_model_level" value= "P">
            <option value ="P">paper</option>
            <option value = "PN">panel</option>
          </select></div>
          <div><label>Number of Topics:</label><input type="text" id="input_num_topics" value = "10"></div>
          <div><label>Number of Iterations:</label><input type="text" id = "input_num_iterations" value = "2000"></div>
        </div>
        <div id = "topic-model-display-loading">Training Topics..</div>
        <div id = "topic-model-display-div">
          <h4>Models</h4>
        </div>
      </div>
      <div role="tabpanel" id="side-user-topic-panel" class = "invisible">
        <form enctype="multipart/form-data" method="post" name="user-topics">
          <input id = "upload-user-topics" type="file" name="file">
          <input type="submit" value="upload">
        </form>
        <button id = "btn-draw-user-topic-timeline" class = "btn btn-default">Draw Timeline</button>
      </div>
    </div>
  </div>
  <div id = "center-view">
    <div id = "middle-view">
      <div id = "keyword-contents">
        <ul class = "nav nav-tabs" role="tablist" data-tabs="tabs">
          <li role="presentation" name="keyword-tab" class="active">
            <a id = "topic-tab" href="#topic-panel"
            aria-controls="topic-panel" role="tab" data-toggle="tab">
            <b>Mallet Topics</b></a>
          </li>
          <li role="presentation" name="keyword-tab">
            <a id = "user-topic-tab" href="#user-topic-panel"
            aria-controls="user-topic-panel" role="tab" data-toggle="tab">
            <b>User Topics</b></a>
          </li>
          <li role="presentation" name="keyword-tab">
            <a id = "keyword-timeline-view-tab" href="#keyword-timeline-view-panel"
            aria-controls="keyword-timeline-view-panel" role="tab" data-toggle="tab">
            <b>Keyword Timeline</b></a>
          </li>
          <li role="presentation" name="keyword-tab">
            <a id = "keyword-tree-view-tab" href="#keyword-tree-view-panel"
            aria-controls="keyword-tree-view-panel" role="tab" data-toggle="tab">
            <b>Word Tree</b></a>
          </li>
        </ul>
        <div class = "tab-content">
          <div role="tabpanel" id="topic-panel">
            <div id = "topic-viewer-div">
              <div id='loading' class='loading'>
                <span class="loading-helper"></span><img src="loading.gif" />
              </div>
            </div>
            <div id = "model-compare-div">
              <div id='loading' class='loading'>
                <span class="loading-helper"></span><img src="loading.gif" />
              </div>
            </div>
          </div>
          <div role="tabpanel" class="invisible" id="user-topic-panel">
            <div id="user-topic-view-div">
              <div id='loading' class='loading'>
                <span class="loading-helper"></span><img src="loading.gif" />
              </div>
            </div>
            <div id="user-topic-timeline-view-div">
              <div id = "user-topic-select-div">
                <div class = "control">
                  <label>P/PN</label><select id = "select-level">
                    <option value = "P" selected>papers</option>
                    <option value = "PN">panels</option>
                  </select>
                </div>
                <div class = "control">
                  <label>Type</label><select id="select-type">
                    <option value = "A" selected>academic</option>
                    <option value = "RW">roundtable/workshop</option>
                    <option value = "ALL">all</option>
                  </select>
                </div>
                <div class = "control">
                  <label>Title/Abstract</label><select id = "select-field">
                    <option value = "TITLE" selected>title</option>
                  </select>
                </div>
                <div class = "control">
                  <label>Metric</label><select id ="select-metric">
                    <option value = "METRIC_DOCUMENT" selected># of documents</option>
                    <option value = "METRIC_WORD"># of words</option>
                  </select>
                </div>
                <div class = "control">
                  <button class="btn btn-default" id = "btn-add-word">add word</button>
                </div>
                <div class = "control">
                  <input type="checkbox" id="checkbox-brush"><label>brush timeline</label>
                </div>
                <div class = "control">
                  <input type="checkbox" id="checkbox-keyword-timeline-percent"><label>percent</label>
                </div>
              </div>
              <div id = "user-topic-timeline-view">
                <div id='loading' class='loading'>
                  <span class="loading-helper"></span><img src="loading.gif" />
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="invisible" id="keyword-timeline-view-panel">
            <div id = "keyword-select-div">
              <div class = "control">
                <label>P/PN</label><select id = "select-level">
                  <option value = "P" selected>papers</option>
                  <option value = "PN">panels</option>
                </select>
              </div>
              <div class = "control">
                <label>Type</label><select id="select-type">
                  <option value = "A" selected>academic</option>
                  <option value = "RW">roundtable/workshop</option>
                  <option value = "ALL">all</option>
                </select>
              </div>
              <div class = "control">
                <label>Title/Abstract</label><select id = "select-field">
                  <option value = "TITLE" selected>title</option>
                </select>
              </div>
              <div class = "control">
                <label>Metric</label><select id ="select-metric">
                  <option value = "METRIC_DOCUMENT" selected># of documents</option>
                  <option value = "METRIC_WORD"># of words</option>
                </select>
              </div>
              <!-- <label>Keywords</label><select id = "select-keyword"></select> -->
              <div class = "control">
                <label>Keywords</label><input type="text" id = "textbox-keyword">
              </div>
              <div class = "control">
                <button class="btn btn-default" id = "btn-add-word">add word</button>
              </div>
              <div class = "control">
                <input type="checkbox" id="checkbox-brush"><label>brush timeline</label>
              </div>
              <div class = "control">
                <input type="checkbox" id="checkbox-keyword-timeline-percent"><label>percent</label>
              </div>
            </div>
            <div id="keyword-timeline-view-div">
              <div id='loading' class='loading'>
                <span class="loading-helper"></span><img src="loading.gif" />
              </div>
            </div>
          </div>
          <div role="tabpanel" class ="invisible" id = "keyword-tree-view-panel">
            <div id="keyword-tree-control-div">
              <div class = "control">
                <div id = "keyword-tree-year-select">
                  <label>Year:</label><select id = "keyword-tree-from-year"></select>
                  <label>to</label>
                  <select id = "keyword-tree-to-year"></select>
                </div>
              </div>
              <div class = "control">
                <label>P/PN</label><select id = "select-level">
                  <option value = "P" selected>papers</option>
                  <option value = "PN">panels</option>
                </select>
              </div>
              <div class = "control">
                <label>Type</label><select id="select-type">
                  <option value = "A" selected>academic</option>
                  <option value = "RW">roundtable/workshop</option>
                  <option value = "ALL">all</option>
                </select>
              </div>
              <div class = "control">
                <label>Title/Abstract</label><select id = "select-field">
                  <option value = "TITLE" selected>title</option>
                </select>
              </div>
              <div class = "control">
                <label>Keywords</label><input type="text" id = "textbox-keyword">
              </div>
              <div class = "control">
                <button class="btn btn-default" id = "btn-draw-wordtree">Draw Wordtree</button>
              </div>
              <div class = "control">
                <input type="checkbox" id="checkbox-word-tree-filter-stop-words"><label>Filter Stop Words</label>
              </div>
              <div class = "control">
                <input type="checkbox" id="checkbox-word-tree-use-lemma"><label>Use Lemma</label>
              </div>
            </div>
            <div id = "keyword-tree-view-div">
              <div id='loading' class='loading'>
                <span class="loading-helper"></span><img src="loading.gif" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id = "right-view">
      <ul class="nav nav-tabs" role="tablist" data-tabs="tabs">
        <li role = "presentation" name="doc-tab" class = "active">
          <a id="topic-document-viewer-tab" href="#topic-document-viewer-panel"
          aria-controls="topic-document-viewer-panel" role="tab" data-toggle="tab"><b>Topic Documents</b></a>
        </li>
        <li role = "presentation" name="doc-tab">
          <a id="keyword-document-viewer-tab" href="#keyword-document-viewer-panel"
          aria-controls="keyword-document-viewer-panel" role="tab" data-toggle="tab"><b>Keyword Documents</b></a>
        </li>
      </ul>
      <div class = "tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="topic-document-viewer-panel">
          <div id = "topic-document-viewer-div">
            <div id='loading' class='loading'>
              <span class="loading-helper"></span><img src="loading.gif" />
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="keyword-document-viewer-panel">
          <div id = "keyword-document-viewer-div">
            <div id='loading' class='loading'>
              <span class="loading-helper"></span><img src="loading.gif" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="bundle.js"></script>
</body>
</html>
