<html>
<header>
<link rel="stylesheet" href="bower_components/jquery-ui/themes/redmond/jquery-ui.min.css"/>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
<link rel="stylesheet" href="css/main.css"/>
</header>
<body>

<div id ="wrapper">
  <div id = "left-side-bar">
    <div id = "data-select">
      <div id = "year-select">
        <label>Year:</label><select id = "from-year"></select>
        <!-- <label>to</label>
        <select id = "to-year"></select> -->
      </div>
    </div>
    <div>
      <button id = "btn-train-topics" class="btn btn-default">Train Model</button>
      <button id = "btn-load-papers" class="btn btn-default">Load Papers</button>
      <button id = "btn-load-panels" class="btn btn-default">Load Panels</button>
    </div>
    <div id = "topic-trainer-option-div">
      <h4>Model Training Options</h4>
      <div><label>Type:</label><select id = "select_model_type" value = "A">
        <option value = "A">academic</option>
        <option value = "RW">roundtable/workshop</option>
      </select></div>
      <div><label>P/PN:</label><select id = "select_model_level" value= "P">
        <option value ="P">paper</option>
        <option value = "PN">panel</option>
      </select></div>
      <div><label>Number of Topics:</label><input type="text" id="input_num_topics" value = "10"></div>
      <div><label>Number of Iterations:</label><input type="text" id = "input_num_iterations" value = "300"></div>
    </div>
    <div id = "topic-model-display-loading">Training Topics..</div>
    <div id = "topic-model-display-div">
      <h4>Models</h4>
    </div>
  </div>
  <div id = "center-view">
    <div id = "topic-viewer-div">
      <div id='loading' class='loading'>
        <span class="loading-helper"></span><img src="loading.gif" />
      </div>
    </div>
    <div id = "document-viewer-div">
      <div id='loading' class='loading'>
        <span class="loading-helper"></span><img src="loading.gif" />
      </div>
    </div>
  </div>
</div>

<script src="bundle.js"></script>
</body>
</html>
