<html>
<header>
<link rel="stylesheet" href="bower_components/jquery-ui/themes/redmond/jquery-ui.min.css"/>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
<link rel="stylesheet" href="css/main.css"/>
</header>
<body>
<div id ="wrapper">
  <div id = "left-side-bar">
    <div id = "data-select">
      <div id = "year-select">
        <label>Year:</label><select id = "from-year"></select>
        <!-- <label>to</label>
        <select id = "to-year"></select> -->
      </div>
    </div>
    <div>
      <button id = "btn-train-topics" class="btn btn-default">Train Model</button>
      <!-- <button id = "btn-load-papers" class="btn btn-default">Load Papers</button> -->
      <!-- <button id = "btn-load-panels" class="btn btn-default">Load Panels</button> -->
    </div>
    <div id = "topic-trainer-option-div">
      <h4>Model Training Options</h4>
      <div><label>Type:</label><select id = "select_model_type" value = "A">
        <option value = "A">academic</option>
        <option value = "RW">roundtable/workshop</option>
      </select></div>
      <div><label>P/PN:</label><select id = "select_model_level" value= "P">
        <option value ="P">paper</option>
        <option value = "PN">panel</option>
      </select></div>
      <div><label>Number of Topics:</label><input type="text" id="input_num_topics" value = "10"></div>
      <div><label>Number of Iterations:</label><input type="text" id = "input_num_iterations" value = "2000"></div>
    </div>
    <div id = "topic-model-display-loading">Training Topics..</div>
    <div id = "topic-model-display-div">
      <h4>Models</h4>
    </div>
    <button id = "test" class = "btn btn-default">Test</button>
  </div>
  <div id = "center-view">
    <div id = "middle-view">
      <div id = "topic-viewer-div">
        <div id='loading' class='loading'>
          <span class="loading-helper"></span><img src="loading.gif" />
        </div>
      </div>
      <div id = "keyword-select-div">
        <div class = "control">
          <label>P/PN</label><select id = "select-level">
            <option value = "P" selected>papers</option>
            <option value = "PN">panels</option>
          </select>
        </div>
        <div class = "control">
          <label>Type</label><select id="select-type">
            <option value = "A" selected>academic</option>
            <option value = "RW">roundtable/workshop</option>
            <option value = "ALL">all</option>
          </select>
        </div>
        <div class = "control">
          <label>Title/Abstract</label><select id = "select-field">
            <option value = "TITLE" selected>title</option>
          </select>
        </div>
        <!-- <label>Keywords</label><select id = "select-keyword"></select> -->
        <div class = "control">
          <label>Keywords</label><input type="text" id = "textbox-keyword">
        </div>
        <div class = "control">
          <button class="btn btn-default" id = "btn-add-word">add word</button>
        </div>
        <div class = "control">
          <input type="checkbox" id="checkbox-brush"><label>brush timeline</label>
        </div>
      </div>
      <div id="keyword-timeline-view-div">
        <div id='loading' class='loading'>
          <span class="loading-helper"></span><img src="loading.gif" />
        </div>
      </div>
      <!-- <div id="topic-timeline-view-div"></div> -->
    </div>
    <div id = "right-view">
      <ul class="nav nav-tabs" role="tablist" data-tabs="tabs">
        <li role = "presentation" name="doc-tab" class = "active">
          <a id="topic-document-viewer-tab" href="#topic-document-viewer-panel"
          aria-controls="topic-document-viewer-panel" role="tab" data-toggle="tab"><b>Topic Documents</b></a>
        </li>
        <li role = "presentation" name="doc-tab">
          <a id="keyword-document-viewer-tab" href="#keyword-document-viewer-panel"
          aria-controls="keyword-document-viewer-panel" role="tab" data-toggle="tab"><b>Keyword Documents</b></a>
        </li>
      </ul>
      <div class = "tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="topic-document-viewer-panel">
          <div id = "topic-document-viewer-div">
            <div id='loading' class='loading'>
              <span class="loading-helper"></span><img src="loading.gif" />
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="keyword-document-viewer-panel">
          <div id = "keyword-document-viewer-div">
            <div id='loading' class='loading'>
              <span class="loading-helper"></span><img src="loading.gif" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="bundle.js"></script>
</body>
</html>
