<html>
<header>
<link rel="stylesheet" href="bower_components/jquery-ui/themes/redmond/jquery-ui.min.css"/>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
<link rel="stylesheet" href="css/main.css"/>
</header>
<body>

<div id = "container">
<div id = "joined_sem_tree_view"></div>
<button id = "download" class="btn btn-default">Download</button>
</div>

<script src="bundle.js"></script>
</body>
</html>
