<html>
<header>
<link rel="stylesheet" href="bower_components/jquery-ui/themes/redmond/jquery-ui.min.css"/>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
<link rel="stylesheet" href="css/main.css"/>
</header>
<body>

<div id ="wrapper">
  <div id = "left-side-bar">
    <div id = "data-select">
      <div id = "year-select">
        <select id = "from-year"></select>
        <label>to</label>
        <select id = "to-year"></select>
      </div>
    </div>
    <button id = "test" class="btn btn-default">test</button>
  </div>
  <div id = "center-view">
    <div id = "filler">
    </div>
  </div>
</div>

<script src="bundle.js"></script>
</body>
</html>
