body{
  // min-width: 1588px;
  position: relative;
  height:100%;
}
#wrapper {
  position:relative;
  width : 100%;
  height: calc(100% - 32px);
}

#top-navbar {
  margin-bottom: 0px;
  min-height: 0px;
  a, .navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
  }
  a {
    font-size: 12px;
  }
  .navbar-brand {
    font-size: 14px;
  }
}

#welcome-text {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #eeeeee;
  font-size: 14px;
}

#left-side-bar {
  position: relative;
  float:left;
  width:300px;
  height:calc(100% - 5px);
  overflow-y: auto;
  overflow-x: hidden;
  .tab-content{
    position: relative;
    height : calc(100% - 42px);
    #side-topic-panel{
      height:100%;
      position: absolute;;
      #data-select {
        position: relative;
        width: 100%;
        height:auto;
        #year-select {
          position: relative;
          width:100%;
          height : auto;
        }
      }
      #topic-trainer-option-div {
        position: relative;
        padding-top: 10px;
        input {width:50px}
      }
      #topic-model-display-div {
        position: relative;
        padding-top:10px;
        width:100%;
      }
      #topic-model-display-loading {
        position:relative;
        padding-top: 10px;
        padding-bottom : 5px;
        width : 100%;
        height : auto;
        display:none;
      }
    }
    #side-user-topic-panel{
      height:100%;
      position: absolute;
    }
  }
}

#center-view {
  position: relative;
  float:left;
  width:calc(100% - 300px);
  height:auto;
  #middle-view {
    position: relative;
    height: 100%;
    width: 60%;
    float : left;
    padding: 0px 10px;
    border-left: 1px solid #ddd;

    #keyword-contents{
      position: relative;
      width : 100%;
      height: 100%;
      .tab-content{
        position: relative;
        height : calc(100% - 45px);
        width : 100%;
        #topic-panel{
          position: absolute;
          height:100%; width:100%;
          #topic-viewer-div {
            position: relative;
            height: 50%;
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
          }
          #model-compare-div{
            position: relative;
            height:50%;
            width:100%;
          }
        }
        #user-topic-panel{
          position: absolute;
          height:100%;width:100%;
          #user-topic-view-div{
            position: relative;
            height:50%;
            width:100%;
            overflow-y:auto;
            overflow-x:hidden;
          }
          #user-topic-timeline-view-div{
            position:relative;
            height: 50%;
            width: 100%;
            #user-topic-select-div{
              position: relative;
              height: auto;
              .control{
                display: inline-block;
              }
            }
            #user-topic-timeline-view{
              position: relative;
              height : calc(100% - 65px);
              width : 100%;
            }
          }
        }
        #keyword-timeline-view-panel{
          position: absolute;
          height: 100%; width: 100%;
          #keyword-select-div{
            position: relative;
            height : auto;
            .control{
              display : inline-block;
            }
            #textbox-keyword{
              width : 100px;
            }
          }
          #keyword-timeline-view-div{
            position: relative;
            height: calc(100% - 65px);
            width: 100%;
          }
        }
        #keyword-tree-view-panel{
          position: absolute;
          height: 100%; width: 100%;
          #keyword-tree-control-div{
            position: relative;
            height : auto;
            .control{
              display : inline-block;
            }
            #textbox-keyword{
              width : 50px;
            }
          }
          #keyword-tree-view-div{
            position: relative;
            height: calc(100% - 65px); width: 100%;
          }
        }
      }
    }
  }
  #right-view {
    position: relative;
    width : 40%;
    height: 100%;
    float: right;
    .tab-content{
      position: relative;
      height: calc(100% - 45px);
      padding: 10px;
      border-left: 1px solid #ddd;
      #topic-document-viewer-panel{
        position: relative;
        height: 100%;
        #topic-document-viewer-div {
          position: relative;
          height:100%;
          width:100%;
          overflow-y: auto;
        }
      }
      #keyword-document-viewer-panel{
        position: relative;
        height: 100%;
        #keyword-document-viewer-div{
          position: relative;
          height:100%;
          width:100%;
          overflow-y:auto;
        }
      }
    }
  }
}

// .svg-container {
//     display: inline-block;
//     position: relative;
//     width: 100%;
//     padding-bottom: 100%;
//     vertical-align: top;
//     overflow: hidden;
// }
// .svg-container>svg {
//     display: inline-block;
//     position: absolute;
//     top: 0;
//     left: 0;
// }
@import 'util'
