#wrapper {
  position:relative;
  width : 100%;
  height: auto;
}

#left-side-bar {
  position: relative;
  float:left;
  width:300px;
  height:calc(100%-5px);
  margin-top: 5px;
  padding-top:0px;
  #data-select {
    position: relative;
    width: 100%;
    height:auto;
    #year-select {
      position: relative;
      width:100%;
      height : auto;
    }
  }
  #topic-trainer-option-div {
    position: relative;
    padding-top: 10px;
    input {width:50px}
  }
  #topic-model-display-div {
    position: relative;
    padding-top:10px;
    width:100%;
  }
  #topic-model-display-loading {
    position:relative;
    padding-top: 10px;
    padding-bottom : 5px;
    width : 100%;
    height : auto;
    display:none;
  }
}

#center-view {
  position: relative;
  float:left;
  width:calc(100% - 300px);
  height:auto;
  #middle-view {
    position: relative;
    height: 100%;
    width: 60%;
    float : left;
    #topic-viewer-div {
      position: relative;
      height: 40%;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }
    #keyword-select-div{
      position: relative;
      height : 30px;
      .control{
        display : inline-block;
      }
      #textbox-keyword{
        width : 50px;
      }
    }
    #keyword-timeline-view-div{
      position: relative;
      height : calc(60% - 35px);
      width : 100%;
    }
    #topic-timeline-view-div {
      position: relative;
      height : 0%;
      width: 100%;
    }
  }
  #right-view {
    position: relative;
    width : 40%;
    height: 100%;
    float: left;
    .tab-content{
      position: relative;
      height: calc(100% - 45px);
      #topic-document-viewer-panel{
        position: relative;
        height: 100%;
        #topic-document-viewer-div {
          position: relative;
          height:100%;
          width:100%;
          overflow-y: auto;
        }
      }
      #keyword-document-viewer-panel{
        position: relative;
        height: 100%;
        #keyword-document-viewer-div{
          position: relative;
          height:100%;
          width:100%;
          overflow-y:auto;
        }
      }
    }
  }
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: 1000;
  opacity: .8;
  display: none;
  .loading-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  img {
    height: 50%;
    max-height: 100px;
  }
}

/*
*	Utilities
*/
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  &:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* Fix Awesome Checkbox */
input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after,
.checkbox input[type=checkbox]:checked + label:after {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}

input[type="checkbox"].styled:checked label:after,
input[type="radio"].styled:checked label:after,
.checkbox label:after {
    padding-left: 3px;
    padding-top: 2px;
    font-size: 9px;
}
